<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script">
            <add name="DjangoKtt Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Hts Admin\Desktop\kttProject\venv\Scripts\python.exe|&quot;C:\Users\Hts Admin\Desktop\kttProject\venv\Lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" requireAccess="Script" />
            <add name="static" path="*" verb="*" modules="static" resourceType="File" requireAccess="Read" />
        </handlers>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="WWW Server" areas="Security,CGI,FastCGI" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="404.2" />
                </add>
            </traceFailedRequests>
        </tracing>
        <modules>
            <add name="fastcgi1" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </modules>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\Users\Hts Admin\Desktop\kttProject" />
        <add key="WSGI_HANDLER" value="KttProject.wsgi.application" />
        <add key="DJANGO_SETTINGS_MODULE" value="KttProject.settings" />
    </appSettings>
</configuration>